{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="row align-items-center">

        <div class="col-lg-6">

            <h1 class="display-4 fw-bold">

                Welcome to EventNest

            </h1>

            <p class="lead text-muted mt-3">

                College Event Registration & Scheduling Portal built using Django.

                Create, manage and organize college events with ease.

            </p>

            <div class="mt-4">

                <a href="{% url 'event_list' %}"
                   class="btn btn-primary btn-lg me-2">

                    <i class="bi bi-calendar-event"></i>

                    View Events

                </a>

                <a href="{% url 'add_event' %}"
                   class="btn btn-success btn-lg">

                    <i class="bi bi-plus-circle"></i>

                    Add Event

                </a>

            </div>

        </div>

        <div class="col-lg-6 text-center">

            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                 class="img-fluid"
                 width="350">

        </div>

    </div>

</div>

{% endblock %}