{% extends "base.html" %}

{% block title %}
Add Event
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow">

                <div class="card-header bg-primary text-white">

                    <h3>Add New Event</h3>

                </div>

                <div class="card-body">

                    <form method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button class="btn btn-success">
                            Save Event
                        </button>

                        <a href="{% url 'event_list' %}"
                           class="btn btn-secondary">

                            Cancel

                        </a>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}