{% extends "base.html" %}

{% block title %}
Delete Event
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow border-danger">

                <div class="card-header bg-danger text-white">

                    <h3>
                        <i class="bi bi-trash"></i>
                        Delete Event
                    </h3>

                </div>

                <div class="card-body text-center">

                    <h4>

                        Are you sure?

                    </h4>

                    <p>

                        You are going to delete

                    </p>

                    <h5 class="text-primary">

                        {{ event.title }}

                    </h5>

                    <form method="POST">

                        {% csrf_token %}

                        <button class="btn btn-danger">

                            <i class="bi bi-trash-fill"></i>

                            Delete

                        </button>

                        <a href="{% url 'event_list' %}"
                           class="btn btn-secondary">

                            Cancel

                        </a>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}