{% extends "base.html" %}

{% block title %}
Event Details
{% endblock %}

{% block content %}

<div class="container py-5">

<div class="card shadow-lg border-0">

<div class="row g-0">

<div class="col-md-5">

{% if event.event_banner %}

<img src="{{ event.event_banner.url }}"
     class="img-fluid h-100 w-100"
     style="object-fit:cover;">

{% else %}

<div class="bg-light d-flex justify-content-center align-items-center"
     style="height:350px;">

<h3>No Image</h3>

</div>

{% endif %}

</div>

<div class="col-md-7">

<div class="card-body">

<h2>{{ event.title }}</h2>

<hr>

<p>

<strong>Category :</strong>

{{ event.category }}

</p>

<p>

<strong>Organizer :</strong>

{{ event.organizer }}

</p>

<p>

<strong>Venue :</strong>

{{ event.venue }}

</p>

<p>

<strong>Date :</strong>

{{ event.event_date }}

</p>

<p>

<strong>Registration Deadline :</strong>

{{ event.registration_deadline }}

</p>

<p>

<strong>Time :</strong>

{{ event.start_time }}

-

{{ event.end_time }}

</p>

<p>

<strong>Seats :</strong>

{{ event.available_seats }}

/

{{ event.total_seats }}

</p>

<p>

<strong>Description</strong>

</p>

<p>

{{ event.description }}

</p>

{% if event.status %}

<span class="badge bg-success">

Active

</span>

{% else %}

<span class="badge bg-danger">

Inactive

</span>

{% endif %}

<hr>

<a href="{% url 'event_list' %}"

class="btn btn-secondary">

← Back

</a>

<a href="#"

class="btn btn-warning">

Edit

</a>

</div>

</div>

</div>

</div>

</div>

{% endblock %}